
    </div><!-- /.container -->
    <br><br><br>
    <hr>
    <p class="text-center">&copy; NB'sShoppingCart</p>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
