img.pimage {
  width: 140px;
}

a.productblock {
  display: inline-block;
  height: 150px;
}

.row.products .block {
  margin-top: 20px;
  margin-bottom: 20px;
}

img.productImage {
  width: 100%;
}

ul.gallery li {
  display: inline-block;
  margin: 20px;
  list-style: none;
}

img.cartImage {
  width: 100px;
}

table.alignmiddle td {
  vertical-align: middle !important;
}
